[submodule "third_party/marimo-3dv"]
	path = third_party/marimo-3dv
	url = https://github.com/panicPaul/marimo-3dv.git
[submodule "third_party/diff-gaussian-rasterization"]
	path = third_party/diff-gaussian-rasterization
	url = https://github.com/panicPaul/diff-gaussian-rasterization.git
[submodule "third_party/faster-gaussian-splatting"]
	path = third_party/faster-gaussian-splatting
	url = https://github.com/panicPaul/faster-gaussian-splatting.git
[submodule "third_party/sv_raster"]
	path = third_party/sv_raster
	url = https://github.com/panicPaul/sv_raster.git
