[submodule "third_party/diff-gaussian-rasterization"]
	path = third_party/diff-gaussian-rasterization
	url = https://github.com/panicPaul/diff-gaussian-rasterization.git
[submodule "third_party/faster-gaussian-splatting"]
	path = third_party/faster-gaussian-splatting
	url = https://github.com/panicPaul/faster-gaussian-splatting.git
[submodule "third_party/sv_raster"]
	path = third_party/sv_raster
	url = https://github.com/panicPaul/sv_raster.git
[submodule "third_party/Stoch3DGS"]
	path = third_party/Stoch3DGS
	url = https://github.com/panicPaul/Stoch3DGS.git
[submodule "third_party/FastGS"]
	path = third_party/FastGS
	url = https://github.com/fastgs/FastGS.git
